html {
    box-sizing: border-box;
}


header {
    background-color: #fff;
    margin: 20px 100px;
    display: flex;
    justify-content: center;
}


.hero-container {
    background-image: url("hero-banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



header li {
    list-style: none;
    display: inline;
    padding: 0px 20px 0px 25px;
    font-family: 'Poppins', sans-serif;
    color: #528083;
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}

.logo {
    margin-top: -10px;
    margin-left: -80px;
    display:flex;
    display: flex-start;
}


.menu {
    display: flex;
}

.grid {
    display: -webkit-flex;
    display:flex;
    margin: 0px 212px;
    padding: 0px 30px 20px 30px;
  
  }
.col {
    padding: 30px;
    margin-top: 30px;
  }
  
.fixed {
    width:650px;
  }
  
.fluid {
    flex: 1;
  }


h1 {
    font-family: 'Lora', serif;
    color: #084a4e;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: light;
    color: #084a4e;
    margin-top: -10px;
    margin-bottom: -5px;
}

h3 {
    color: #084a4e;
    font-family: 'Lora', serif;
    font-size: 20px;
}


.youtube {
    background-color: #fff;
    margin: 50px 10px 30px 40px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px #b3b3b3;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
  
}

.three-column {
    margin-top: 80px;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 10px #b3b3b3;
    border-radius: 15px;
    display:flex;
    justify-content: center;
}

.three-column img {
    width: 80px;
      
}

.intro-p {
    margin-bottom: 25px;
    margin-right: 90px;
}

/* Links */



a:link, a:visited {
    background-color: #084a4e;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


a:hover {
    background-color: #084a4e;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    color: white;
    text-decoration:underline;
    font-family: 'Poppins', sans-serif;
}


.menu-link:link {
    background-color: #fff;
    color: #528083;
    text-decoration: none;
    padding: 0px 10px 10px 10px;
}

.menu-link:visited {
    background-color: #fff;
    color: #528083;
}

.menu-link:hover {
    background-color: #fff;
    color: #75c92c;
    text-decoration: underline;
}